<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key><string>com.aiden609906.detailhandoff.backup</string>
            <key>UTTypeDescription</key><string>Detail Handoff Backup</string>
            <key>UTTypeConformsTo</key><array><string>com.apple.package</string></array>
            <key>UTTypeTagSpecification</key>
            <dict><key>public.filename-extension</key><array><string>dhbackup</string></array></dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key><string>com.aiden609906.detailhandoff.photos</string>
            <key>UTTypeDescription</key><string>Detail Handoff Photos</string>
            <key>UTTypeConformsTo</key><array><string>com.apple.package</string></array>
            <key>UTTypeTagSpecification</key>
            <dict><key>public.filename-extension</key><array><string>dhphotos</string></array></dict>
        </dict>
    </array>
</dict>
</plist>
